body, html {
	margin: 0;
	padding: 0;

	background: #f8f8f8;
	color: #fff;
}

:root {
	--theme-400: #e6637d;
	--theme-500: #f07f96;
	--font-display: 'Inter', sans-serif;
}

* {
	font-family: var(--font-display);
	letter-spacing: -0.04em;
}
